.nav li{
    list-style-type: none;
    margin: 0 2opx;
}
.nav li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
}
.nav li a:hover,
.nav li a:active{
    color: var(--primary);
}