@tailwind base;
@tailwind components;
@tailwind utilities;

  /* '@fortawesome/fontawesome-free/css/all.min.css'; */

input{
 width: 250px;
 margin: 4px;
padding: 12px;
border: none;
padding: 12px;
background-color: rgb(211, 211, 211);

}
input::placeholder{
    font-size: 18px;
    color: white;
}
form{
    border: none;
    
    
}
